@model MetalTrade.Web.ViewModels.Advertisement.DeleteAdvertisementViewModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы действительно хотите удалить объявление?</h3>
<hr />
<div class="mt-3">
    <h4>Объявление</h4>
    <dl class="row mt-2">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>
