@using MetalTrade.Web.ViewModels.User
@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "Список пользователей";
    var isCurrentUserAdmin = User.IsInRole("admin");
}

<div class="row mb-3 mx-4">
    <div class="col-md-3">
        <input id="userName" class="form-control" placeholder="Логин" />
    </div>
    <div class="col-md-3">
        <input id="email" class="form-control" placeholder="Email" />
    </div>
    <div class="col-md-3">
        <input id="phoneNumber" class="form-control" placeholder="Номер телефона" />
    </div>

    <div class="col-md-1">
        <select class="form-control" onchange="loadUsers()" id="sort">
            <option value="date_desc">Новые</option>
            <option value="date_asc">Старые</option>
        </select>
    </div>
    
    <div class="col-md-2">
        <button class="btn btn-primary" style="background-color: #2563EB;" onclick="loadUsers()">Фильтр</button>
        <button class="btn btn-secondary" onclick="resetFilters()">Сбросить</button>
    </div>
</div>

<div class="col-md-3">
    <a asp-action="CreateUser" asp-controller="User" class="btn btn-success">Создать нового пользователя</a>
</div>
<div id="usersContainer">
    @await Html.PartialAsync("_UsersPartialView", Model)
</div>

<form id="antiForgeryForm">
    @Html.AntiForgeryToken()
</form>


@section Scripts {
   @{
        <script src="~/js/user/user-manager.js"></script>
   }
}
