@using MetalTrade.Web.ViewModels.User
@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "Список пользователей";
    var isCurrentUserAdmin = User.IsInRole("admin");
}

<div class="row mb-3">
    <div class="col-md-3">
        <input id="userName" class="form-control" placeholder="Логин" />
    </div>
    <div class="col-md-3">
        <input id="email" class="form-control" placeholder="Email" />
    </div>
    <div class="col-md-3">
        <input id="phoneNumber" class="form-control" placeholder="Номер телефона" />
    </div>

    <div class="col-md-1">
        <select class="form-control" onchange="loadUsers()" id="sort">
            <option value="date_desc">Новые</option>
            <option value="date_asc">Старые</option>
        </select>
    </div>
    
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="loadUsers()">Фильтр</button>
        <button class="btn btn-secondary" onclick="resetFilters()">Сбросить</button>
    </div>
</div>

<div class="mb-2">
    <a asp-action="CreateUser" class="btn btn-outline-success">Создать Новый Пользователя</a>
</div>

<div id="usersContainer">
    @await Html.PartialAsync("_UsersPartialView", Model)
</div>

<form id="antiForgeryForm">
    @Html.AntiForgeryToken()
</form>


<script>    
    let currentPage = 1;
    async function loadUsers(page = 1) {
        currentPage = page;
        
        const params = new URLSearchParams({
            userName: document.getElementById("userName").value,
            email: document.getElementById("email").value,
            phoneNumber: document.getElementById("phoneNumber").value,
            sort: document.getElementById("sort").value,
            page: page
        });
        
        const response = await fetch(`/User/Filter?${params}`);
        const html = await response.text();
        document.getElementById("usersContainer").innerHTML = html;
    }
    async function resetFilters() {
        document.getElementById("userName").value = "";
        document.getElementById("email").value = "";
        document.getElementById("phoneNumber").value = "";
        document.getElementById("sort").value = "date_desc";
        loadUsers();
    }
    
    async function changeRole(userId, role, isAdd) {
        const token = document.querySelector('#antiForgeryForm input[name="__RequestVerificationToken"]').value;

        await fetch('/User/ChangeRoleAjax', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken': token
            },
            body: JSON.stringify({ userId, role, isAdd })
        });
        
        loadUsers(currentPage);
    }
    
    document.addEventListener("DOMContentLoaded", loadUsers);

</script>
