@model MetalTrade.Web.ViewModels.Product.DeleteProductViewModel

@{
    ViewBag.Title = "Удаление продукта";
}
<div class="container mt-5 justify-content-center align-content-center text-center">

    <div class=" justify-content-center text-center mt-5">
        <h1 class="mt-5">Удаление продукта: @Model.Name</h1>
        <h4 class="mt-5">Удалить данный продукт?</h4>
        <div class="row justify-content-center text-center mt-3">
            <div class="col-1">
                <form asp-action="Delete" method="post">
                    <input type="hidden" value="@Model.Id" name="id"/>
                    <button type="submit" class="btn btn-success">Да</button>
                </form>
            </div>
            <div class="col-1">
                <a class="btn btn-danger" asp-action="Index" asp-route-id="@Model.Id">Нет</a>
            </div>
        </div>
    </div>
</div>
