@model MetalTrade.Web.ViewModels.Product.EditProductViewModel

@{
    ViewBag.Title = "Редактирование продукта ";
}

<h2>Изменение продукта </h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post" >
            <div class="form_row mt-3">
                <label for="name">Название продукта</label>
                <input asp-for="Name" type="text" id="name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="MetalTypeId" class="control-label"></label>
                <select asp-for="MetalTypeId" class="form-control" asp-items="@ViewBag.MetalTypes">
                    <option value="" selected disabled>-- Выберите материал --</option>
                </select>
                <span asp-validation-for="MetalTypeId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success mt-4 text-center">Сохранить</button>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
