@model MetalTrade.Web.ViewModels.MetalType.CreateMetalViewModel

@{
    ViewBag.Title = "Создание типа металла";
}

<h2>Добавление нового металла </h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" >
            <div class="form_row mt-3">
                <label for="name">Название металла</label>
                <input asp-for="Name" type="text" id="name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success mt-4 text-center">Сохранить</button>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}