@model MetalTrade.Web.ViewModels.MetalType.CreateMetalViewModel

@{
    ViewBag.Title = Localizer["ViewBagTitle"];
}

<h2>@Localizer["Header"]</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" >
            <div class="form_row mt-3">
                <label asp-for="Name">@Localizer["MetalTypeName"]</label>
                <input asp-for="Name" type="text" id="name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success mt-4 text-center">@Localizer["SaveMetalTypeBtn"]</button>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}