@model MetalTrade.Web.ViewModels.Profile.UserProfileWithAdsViewModel


<div class="container mt-4">
    <h2 class="mb-4">Профиль пользователя</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm p-3 text-center">
                <img src="@(Model.PhotoPath ?? "/images/default-avatar.png")"
                     class="rounded-circle mx-auto d-block mb-3"
                     style="width: 120px; height: 120px; object-fit: cover;" alt="Аватар" />

                <h5>@Model.UserName</h5>

                @if (User.Identity!.IsAuthenticated)
                {
                    <p class="form-control-plaintext">Телефон: +996@(Model.PhoneNumber)</p>
                    <p class="form-control-plaintext">WhatsApp +996@(Model.WhatsAppNumber)</p>
                }
                else
                {
                    <p class="text-muted">Контакты доступны после входа</p>
                }
                @if (User.Identity!.IsAuthenticated && User.Identity.Name != Model.UserName)
                {
                    <button class="btn btn-primary open-chat-user"
                            data-user-id="@Model.UserId">
                        Написать
                    </button>
                }

            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @if (Model.IsSupplier)
            {
                <h4 class="mb-3">Объявления пользователя</h4>
                <hr />

                @if (Model.Advertisements == null || !Model.Advertisements.Any())
                {
                    <p class="text-muted">У пользователя пока нет объявлений.</p>
                }
                else
                {
                    <div class="row">
                        @foreach (var ad in Model.Advertisements)
                        {
                            <div class="col-md-6 mb-3">
                                <partial name="_AdCardPartial" model="ad" />
                            </div>
                        }
                    </div>
                }
            }

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/chat/openChat.js"></script>
}