@model MetalTrade.Web.ViewModels.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>

    <div>
        <label asp-for="Photo"></label>
        <input asp-for="Photo" type="file" />
        <span asp-validation-for="Photo"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    
    <div>
        <label asp-for="PasswordConfirm"></label>
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    
    <div>
        <label asp-for="WhatsAppNumber"></label>
        <input asp-for="WhatsAppNumber" placeholder="https://wa.me/996500500500" />
        <span asp-validation-for="WhatsAppNumber"></span>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
