@model List<User>
@{
    ViewBag.Title = "Список пользователей";
}

<div class="container mt-4">
    <h2 class="mb-4">Все пользователи</h2>
    @if (!Model.Any())
    {
        <h4 class="">Пользователей еще нет </h4>
    }
    else
    {
        <div class="row text-center">
            <table class="mt-3 table table-success " style="width: 100%;">
                <tr>
                    <th>Аватар</th>
                    <th>Логин</th>
                    <th>Email</th>
                    <th>Номер телефона</th>
                </tr>
                @foreach (var user in @Model)
                {
                    <tr>
                        <td><img src="@user.Photo" style="width:40px;height:40px;border-radius:50%;" /></td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
